/* 自定义字体 */
@font-face {
    font-family: 'setofont';
    src: url(/assets/fonts/setofont.ttf);
}

@font-face {
    font-family: 'zhushi';
    src: url(/assets/fonts/zhushi.ttf);
}

@font-face {
    font-family: 'by-winnie-stars';
    src: url(/assets/fonts/by-winnie-stars.woff2);
}

/* 哔哩哔哩 iframe 适配 */
.bilibili {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.bilibili iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* 文章背景透明 */
:root {
    --card-bg: #ffffffdd;
}

[data-theme='dark'] {
    --card-bg: #0000007f;
}

/* 侧边栏宽度 */
#content-inner {
    max-width: 1400px;
}

#post {
    width: 70%
}

#aside-content {
    width: 30%;
}

@media screen and (max-width: 900px) {
    #aside-content {
        width: 100%;
    }
}

/* 链接卡片字间距 */
.tag.link a.link-card {
    letter-spacing: 1px;
}

/* 「重新加密」按钮字体 */
.hbe-button {
    font-size: 17px;
    font-family: inherit !important;
}

/* Snackbar 行距调整 */
.snackbar-container p {
    line-height: 1.3em !important;
}


/* 友链页面卡片宽度 */
#article-container .flink .flink-list > .flink-list-item {
    width: calc(100% / 2 - 15px) !important;
}

@media screen and (max-width: 900px) {
    #article-container .flink .flink-list > .flink-list-item {
        width: calc(100% - 15px) !important;
    }
}

/* 单行代码颜色 */
#article-container code {
    color: #5397D0;
}

/* 文章页 H1-H6 图标样式效果 */
#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -31px;
    font-size: 26px;
    margin-top: -5px
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -27px;
    font-size: 22px;
    margin-top: -3px
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -25px;
    font-size: 20px;
    margin-top: -2px
}

#content-inner.layout h4::before {
    color: #a9e000;
    font-size: 16px;
    margin-top: -2px
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -18px;
    font-size: 14px;
    margin-top: 0
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -18px;
    font-size: 13px;
    margin-top: 0
}

#content-inner.layout h1::before,#content-inner.layout h2::before,#content-inner.layout h3::before,#content-inner.layout h4::before,#content-inner.layout h5::before,#content-inner.layout h6::before {
    animation: rotate 1.6s linear infinite;
}

#content-inner.layout h1:hover,#content-inner.layout h2:hover,#content-inner.layout h3:hover,#content-inner.layout h4:hover,#content-inner.layout h5:hover,#content-inner.layout h6:hover {
    color: #49b1f5
}

#content-inner.layout h1:hover::before,#content-inner.layout h2:hover::before,#content-inner.layout h3:hover::before,#content-inner.layout h4:hover::before,#content-inner.layout h5:hover::before,#content-inner.layout h6:hover::before {
    color: #49b1f5;
    animation: rotate 3.2s linear infinite
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-1turn)
    }
}